.container {
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(135deg, #4480f7, #af0dd7);*/
    padding: 10px;
    background: url("bunny-bg.png") no-repeat center center/cover;
}

.to-do-app {
    width: 500%;
    max-width: 590px;
    background: #fff;
    height: 800%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app h2 {
    color: #064ec2;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-app h2 img {
    width: 30px;
    margin-left: 10px;
    border-radius: 35px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Styling for the task list */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative; 
}

/* Custom bullet for unchecked tasks */
ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 20px;
    border-radius: 30%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* Styling for completed/checked tasks */
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

/* Custom bullet for checked tasks */
ul li.checked::before {
    background-image: url(images/checked.jpg);
}

/* Styling for the delete icon (X) */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
